<%-include ("header")-%>
  <div class="box" id="heading">
    <h1>
      <%= listTitle %>
    </h1>
  </div>

  <div class="box">
    <% tasks.forEach(task=> { %>
      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name="checkbox" value="<%= task._id %>" onchange="this.form.submit()" />
          <p>
            <%=task.name %>
          </p>
          <input type="hidden" name="listName" value="<%= listTitle %>">
        </div>
      </form>
      <% }) %>

        <form action="/" method="post" class="userInputForm">
          <input type="text" name="task" id="Task" placeholder="New Item" autocomplete="off" />
          <button type="submit" name="list" value="<%=listTitle%>">+</button>
        </form>
  </div>

  <%-include ("footer")-%>